# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
ENV/
env/

# IDEs
.vscode/
.idea/

# Distribution
dist/
build/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.gcov/
.coverage
.tox/
.nox/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Local configuration
config_local.py
.env

# OS specific files
.DS_Store
Thumbs.db

# ScreenPen specifics
*.png
!assets/*.png
!src/ui/assets/*.png
debug_output*.txt

# Build / Release artifacts
*.spec
AppDir/
*.AppImage
appimagetool
SHA256SUMS.txt
